.create-workout-block .saveButton {
  font-size: 24px;
  cursor: pointer;
  font-weight: 900;
  color: #65bbb2;
  border-color: transparent;
}

.create-workout-block {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.create-workout-block input {
  background: #e6c474;
  border: 0;
  padding: 10px;
  color: #757575;
  font-weight: 700;
  width: 100%;
}
